@page "/Dashboard"

@*

Technical part (Admin visibilty)

Add Space Disk Server hosting WebSite

Add Each WorkerNode Information
Add Space Disk Server hosting Each WorkerNode

*@

<div class="container" style="width:auto">
    <div class="row">
        <div class="col-12">
            <MudCard Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>WebSite Server Status</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>

                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <MudCard Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Worker Node Status</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>

                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
</div>

@*
    User part
*@

@code {

}